#header {
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    border-top: 1px solid #e4e8ed;
    border-bottom: 1px solid #777f90;
    background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop(0, #d2d9e1),
        color-stop(0.23, #d2d9e1),
        color-stop(0.53, #b3becd),
        color-stop(1, #899bb3));
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
#header a {
    text-decoration: none;
}
#index header a.action{
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    top: 10px;
}
#index header a.write {
    left: 5px;
    background-image: url(../images/write.png);
}
#index header a.refresh {
    right: 5px;
    background-image: url(../images/refresh.png);
}

#index header .pre,
#index header .next {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    background-size: 20px 20px;
}
#index header .pre {
    left: 50px;
    background-image: url(../images/pre.png);
}
#index header .next {
    right: 50px;
    background-image: url(../images/next.png);
}
#index header .accounts {
    -webkit-box-flex: 1;
    position: absolute;
    left: 70px;
    right: 70px;
    height: 30px;
    top: 15px;
}
#header .accounts ul {
  display: -webkit-box;
  list-style: none;
  float: left;
  width: 600px;
  height: 30px;
  padding: 0;
  margin: 0;
  text-align: left;
}
#header .accounts li {
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    background-image: url(../images/account.png);
    background-size: 30px 30px;
}
#header .accounts a {
    color: #333333;
}
#index article {
    position: absolute;
    background-color: #fff;
    top: 60px;
    width: 100%;
    bottom: 50px;
}
#index article .username {
    -webkit-box-flex: 1;
}

#index footer {
    height: 49px;
    border-top: 1px solid #1c1c1c;
    -webkit-box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop(0, #575757),
        color-stop(0.5, #141414),
        color-stop(0.5, #000),
        color-stop(1, #000));   
}
#index footer ul {
    display: -webkit-box;
}
#index footer li {
    -webkit-box-flex: 1;
    width: 60px;
}
#index footer a {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    text-decoration: none;
    height: 100%;
    color: #999;
    font-size: 12px;
}
#index footer .icon {
    height: 30px;
    width: 30px;
    display: block;
    background-position: center center;
}
#index footer .home .icon {
    background-image: url(../images/bar_home.png);
}
#index footer .message .icon {
    background-image: url(../images/bar_commentbox.png);
}
#index footer .profile .icon {
    background-image: url(../images/bar_profile.png);
} 
#index footer .square .icon {
    background-image: url(../images/bar_search.png);
} 
#index footer .more .icon {
    background-image: url(../images/bar_msg_more.png);
}
#index .statuses li {
    display: -webkit-box;
    padding: 7px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
}
#index .statuses .avatar {
    width: 55px;
    padding: 0 0 0 8px;
    -webkit-box-sizing: border-box;
}
#index .statuses .avatar img {
    width: 35px;
    height: 35px;
}
#index .statuses .status {
    -webkit-box-flex: 1;
    font-size: 14px;
    padding: 0 16px 0 0;
}
#index .statuses .username {
    font-size: 13px;
    padding: 0 0 5px 0;
    font-weight: bold;
}
#index .statuses .title {
    display: -webkit-box;
}
#index .statuses .info {
  display: -webkit-box;
  padding: 5px 0px;
}
#index .statuses .source {
  -webkit-box-flex: 1;
}

#index .pullDown,
#index .pullUp {
  background:#fff;
  height:40px;
  line-height:40px;
  padding:5px 10px;
  border-bottom:1px solid #ccc;
  font-weight:bold;
  font-size:14px;
  color:#888;
}
#index .pullDown .pullDownIcon,
#index .pullUp .pullUpIcon  {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background-image: url(../images/pull-icon@2x.png);
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;  
}
#index .pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}
#index .pullUp .pullUpIcon  {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#index .pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
#index .pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

#index .pullDown.loading .pullDownIcon,
#index .pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;

  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}

#index .retweeted_status {
  clear: both;
  border: 1px solid #dfe4eb;
  background-color: #f0f2f8; 
  border-radius: 8px;
  padding: 4px 4px;
  margin-top: 15px;
}
#index .statuses .retweeted_status .avatar {
    width: 30px;
    height: 30px;
    padding: 0 0 0 0;
    margin: 0 10px 0 0;
    -webkit-box-sizing: border-box;
    float: left;
}
#index .statuses .retweeted_status .avatar img {
  width: 30px;
  height: 30px;
}
#index .statuses .retweeted_status .status {
  padding: 0 0 0 5px;
}
#index .status img {
  border: 1px solid #d8d8d8;
  padding: 2px;
  background-color: #fff;
}
#index .status img[data-state="thumbnail"] {
  cursor: -webkit-zoom-in;
}
#index .status img[data-state="bmiddle"] {
  cursor: -webkit-zoom-out;
}
#index .status i {
  background-size: 13px 8px;
  width: 13px;
  height: 8px;
  overflow: hidden;
  display: block;
  margin-left: 20px;
  margin-top: -13px;
  background-image: url(../images/indicator.png);
}
#index .retweeted {
  padding: 10px 0 0 0;
}

#index .source a {
  color: #666;
}
#index .statuses .retweeted_status .username {
  padding: 0 0 0 0;
}