#publish {
  
}
#publish header a.back {
    left: 5px;
    text-align: center;
    line-height: 30px;
    background-image: url(../images/back.png);
    background-size: 50px 30px;
    width: 50px;
}
#publish header a.send {
    right: 5px;
    line-height: 30px;
    text-align: center;
    background-image: url(../images/send.png);
    background-size: 60px 30px;
    width: 60px;
}
#publish header a.action{
    position: absolute;
    height: 30px;
    color: #fff;
    top: 15px;
}
#publish header .pre,
#publish header .next {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 25px;
    background-size: 10px 10px;
}
#publish header .pre {
    left: 60px;
    background-image: url(../images/pre.png);
}
#publish header .next {
    right: 70px;
    background-image: url(../images/next.png);
}

#publish header .accounts {
    -webkit-box-flex: 1;
    position: absolute;
    left: 85px;
    right: 85px;
    height: 30px;
    top: 15px;
}
#publish article {
    position: absolute;
    background-color: #a4bbd9;
    top: 60px;
    width: 100%;
    bottom: 0;
}
#publish article textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    padding: 10px;
    height: 35%;
    font-size: 16px;
    outline: none;
}
#publish article ul {
    display: -webkit-box;
    background-color: #8195af;
}
#publish article li {
    height: 33px;
    -webkit-box-flex: 1;
    display: block;
}
#publish article a {
    display: block;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 18px;
}
#publish article a.position {
    background-image: url(../images/position.png);
}
#publish article a.photo {
    background-image: url(../images/photo.png);
}
#publish article a.topic {
    background-image: url(../images/topic.png);
}
#publish article a.metion {
    background-image: url(../images/metion.png);
}
#publish article a.toggle_keyboard {
    background-image: url(../images/keyboard.png);
}